<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adf0b7">  <td>20/11/26 22:06:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.halo.tests.LoginTests@2bfc268b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="a7bace">  <td>20/11/26 22:06:41</td>   <td>29492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.testLoginWithInvalidCredentials()[pri:1, instance:com.halo.tests.LoginTests@2bfc268b]">testLoginWithInvalidCredentials</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="a7bace">  <td>20/11/26 22:06:51</td>   <td>40023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.testLoginWithValidUser()[pri:2, instance:com.halo.tests.LoginTests@2bfc268b]">testLoginWithValidUser</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="adf0b7">  <td>20/11/26 22:07:05</td>   <td>53790</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.halo.tests.LoginTests@2bfc268b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
</table>
